bin/
obj/
out/
packages/

*.user
*.suo
*.vscode
.vs/

*.log

appsettings.Development.json
appsettings.*.json
secrets.json
.env

*.pdb
*.cache
*.dll
*.exe

*.db
*.sqlite

Thumbs.db
ehthumbs.db
.DS_Store
